html 
{
    overflow-x: hidden;
}

body {
    background-color: #D6D6D6;
}
h1 {
    font-size: 5vh;
}

.title {
    color: #0F4465;
    top: 8vh;
    font-size: 0.8vh;
    position: absolute;
    margin-left: 50%;
}

.form-control 
{
    font-size: 4vh;
}