.col
{
    margin-left: 29vh;
}

.plus-card-img 
{
 width: 12vh;
 align-content: center;
 align-self: center;
 margin: 0vh -20vh 0vh 2vh;
}


.border-lowblue 
{
    top: 0vh;
    background-color: #D6D6D6;
    border: 1.2vh solid #0971B2;
    border-radius: 1.4vh;
    width: 30vh;
    height: 38vh;
}

.card-foot
{ 
    border: none;
    background-color: #D6D6D6;
    padding-top: 5vh;
    color: #0971B2;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 3vh;
}

.title 
{
top: 4vh;
}

#cards
{
padding-top: 14vh;
}

#cards
{
padding-top: 14vh;
}