@media (max-width: 768px){
	/* Barra de Contato */
	.sidebar-contact{
		width: 100%;
		height: 100%;
		left: -100%;
	}
	.sidebar-contact .toggle{
		top: 50%;
		transform: translateY(-50%);
		transition: 0.5s;
	}
	.sidebar-contact.active .toggle{
		top: 0;
		right: 0;
		transform: translateY(0);
		z-index: 100;
	}
	.scroll{
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	/* Footer */
	.ftr-cor{
		font-size: 15px;
	}
}

@media (max-height: 630px){
	/* Barra de Contato */
	.sidebar-contact{
		width: 100%;
		height: 100%;
		left: -100%;
	}
	.sidebar-contact .toggle{
		top: 50%;
		transform: translateY(-50%);
		transition: 0.5s;
	}
	.sidebar-contact.active .toggle{
		top: 0;
		right: 0;
		transform: translateY(0);
		z-index: 100;
	}
	.scroll{
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}