body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #0971B2;
}

.titulo{
    padding-top: 15vh;
    text-align: center;
}

.row {
    margin-left: 0px;
}

/* Barra de Contatos */
.sidebar-contact{
    position: fixed;
    top: 15%;
    z-index: 50;
    left: -350px;
    transform: translateY(-60%);
    width: 350px;
    height: 480px;
    padding: 20px 40px 30px 40px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    box-sizing: border-box;
    transition: 0.5s;
}
.sidebar-contact.active{
    left: 0px;
}
.sidebar-contact input,.sidebar-contact textarea{
    width: 100%;
    height: 36px;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.5);
    outline: none;
}
.sidebar-contact h2{
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    color: #0971B2;
}
.sidebar-contact textarea{
    height: 82px;
    resize: none;
}
.sidebar-contact input[type="submit"]{
    background: #0971B2;
    color: white;
    border: none;
    font-style: 18px;
    cursor: pointer;
}
.toggle{
    position: absolute;
    top: 50%;
    right: -60px;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    background: #BF1D1D; 
}
.sidebar-contact.active .toggle{
    top: 0;
    right: -60px;
    transform: translateY(0);
}
.img-toggle{
    margin: 24%;
}
.img-toggle:before{
    content: url(../icones/close-envelope.png);
}
.img-toggle.active:before{
    content: url(../icones/cross-remove-sign.png);
}

    /* Efeitos do Texto da Barra de Contatos */
    .inputBox{
        position: relative;
        box-sizing: border-box;
        margin-bottom: 25px;
    }
    input.input, textarea.input{
        position: relative;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid rgba(9,113,178,.7); 
    }
    .inputText{
        position: absolute;
        line-height: 50px;
        font-size: 18px;
        transition: .5s;
        color: rgba(9,113,178,.5);
        margin-top: -10px;
    }
    .focus .inputText{
        transform: translateY(-25px);
        font-size: 12px;
        opacity: 1;
        color: #0971B2;
        font-weight: bold;
    }
    /* Fim de Efeitos do Texto da Barra de Contatos */
.btn-contato{
    width: 100%;
}
/* Fim da Barra de Contatos */

/* Footer */
.rodape{
    position: absolute;
    bottom:0;
    width:100%;
}
.redes-cor{
    background-color: #0971B2;
    color:white;
    width: 100%;
    overflow: hidden;
}
.ftr-cor hr{
    background-color: rgb(100, 7, 7);
}
.ftr-cor{
    background-color: #BF1D1D;
    color: white;
    text-align: center;
    
}
.mg-redes{
    margin: 0.3vh ;
    overflow: hidden;
}
/* Fim do Footer */