/* Slide */
    .indicador, .indicador.active{
        width: 32px;
        height: 6px;
        z-index: 100;
        background-color: #FEFB00;
        cursor: pointer;
        border-radius: 2px;
    }
    .indicador.active{
        width: 33px;
        height: 7px;
        border: 1px solid black;
    }
    #slide01{
        background-image: url(../img/slide02.jpg);
    }
    #slide02{
        background-image: url(../img/1438112765_Hortifruti_Uruguai.jpg);
    }
    #slide03{
        background-image: url(../img/dsc08165_min_aeba-5378683.jpg);
    }

    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
/* Fim do Slide */