body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #A2F2FF, #0971B2,#0F4465);
}

.square{
    position: relative;
    width: 150px;
    height: 150px;
}

.square span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.square span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 10px solid #eee;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        left: -100%;
    }
    25%{
        left: 0%;
    }
    50%,100%{
        left: 100%;
    }
}
.square span:nth-child(1){
    transform: rotate(0deg);
}
.square span:nth-child(2){
    transform: rotate(90deg);
}
.square span:nth-child(3){
    transform: rotate(180deg);
}
.square span:nth-child(4){
    transform: rotate(270deg);
}